NEXT_PUBLIC_STREAMS='[
  {
    "id": "default",
    "label": "default",
    "description": "default",
    "url": "bboymusic/stream"
  }
]'
NEXT_PUBLIC_TRACKINFO = "bboymusic/info"
NEXT_PUBLIC_TITLE = "BBoy Radio"
NEXT_PUBLIC_NAME = "BBoy Radio"
NEXT_PUBLIC_DESC = "BBoy Music 24/7"
NEXT_PUBLIC_BACKGROUND_COLOR = "rgb(70, 63, 30)"
NEXT_PUBLIC_CHANNEL_COLOR = "#101010"
NEXT_PUBLIC_PLAYER_COLOR = "#101010"
NEXT_PUBLIC_ANDROID_APP_URL = "https://your-apk-url.com"